<h1>Impresario!</h1>

<h4>Welcome to the App that lets you view</h4>
<h4>Theatre performances without the gossip!</h4>

<p>What would you like to do?</p>


<p><%= link_to "See list of Producers", users_path %></p>
<p><%= link_to "See list of Performances", events_path %></p>
<p><%= link_to "See list of Artists", artists_path %></p>

<p> <%= link_to "SignUp", signup_path %> </p>
<p> <%= link_to "Login", login_path %> </p>
