<h1>Impresario!</h1>

<h4>Welcome to the App that lets you view</h4>
<h4>Theatre performances without the gossip!</h4>

<p>What would you like to do?</p>

<ul>
<li><a href="<%= users_path %>">See list of Producers</a></li>
<li><a href="<%= events_path %>">See list of Performances</a></li>
<li><a href="<%= artists_path %>">See list of Artists</a></li>


<li><%= button_to "Login", '/login', method: :get%></li>
<li><%= button_to "Sign Up", '/users/new', method: :get%></li>
</ul>