<h1>Sign Up</h1>

<%= render partial: '/errors', locals: { record: @user } if @user.errors %>


<%= form_with model: @user, local: true do |f|%>
  <%= f.label :name%><br>
  <div><%= f.text_field :name%><br></div>
<%= f.label :email%><br>
 <div> <%= f.email_field :email%><br></div>
  <%= f.label :password%><br>
  <%= f.password_field :password%><br>
  <%= f.label :company%><br>
 <div> <%= f.text_field :company%><br></div>

  <%= f.submit %>
<%end%>
