<h1>Producer: <%= @user.name %> </h1>
<h3>Company Name: <%= @user.company %></h3>

<p><a href=" <%= user_events_path %> ">Show a list of <%= user.company%>'s Productions.</a></p>
<p><a href=" <%= user_artists_path %> ">Show a list of <%= user.company%>'s Artists that they have worked with.</a></p>
