<h1>Index of Events</h1>
<ul>
<% @events.each do |event| %>
<li><%= link_to event.name, event_path(event) %> - 
<%= event.venue.name %> -
<%= event.curtain %> - 
<%= event.user.name %> - 
<%= event.user.company %> - 
</li>
<% end %>
</ul>