<h1>All Performances</h1>


    <%= form_with url: search_path, local: :true  do |f| %>
    <%= f.label "Filter Performances by State:"%>
  <%= f.select :tony_params, event_by_state.each { |i| [i] } %>
    <%= f.submit %>
    <% end %>


<table>

<% if @events.count != 0 %>
<th>Performance</th>
<th>Theatre</th>
<th>Date/Tine</th>
<th>Producer</th>
<th>Company</th>
<% end %>

    <% @events.each do |event| %> 
    <tr>
 <td>   <%= link_to event.name, event_path(event) %> </td>
 <td>   <%= link_to event.venue.name, venue_path(event.venue) %> </td>
 <td>   <%= event.curtain.nicedate %>  at <%= event.curtain.nicetime %> </td>
 <td>   <%= link_to event.user.name, user_path(event.user) %> </td>
 <td>   <%= event.user.company %> </td>
</tr>
    <% end %>

</table>
