<h1>All Performances</h1>

<% if params[:user_id] == nil %>
    <%= form_with url: search_path, local: :true  do |f| %>
    <%= f.label "Filter Performances by State:"%>
  <%= f.select :state_select, event_by_state.each { |i| [i] } %>
    <%= f.submit %>
    <% end %>
<% end %>




<% if @events.upcoming.count != 0 %>
<table>
<h3>Upcoming Performances:</h3>
<th>Performance</th>
<th>Theatre</th>
<th>Date/Tine</th>
<th>Producer</th>
<th>Company</th>


    <% @events.upcoming.order(:curtain).each do |event| %> 
    <tr>
 <td>   <%= link_to event.name, event_path(event) %> </td>
 <td>   <%= link_to event.venue.name, venue_path(event.venue) %> </td>
 <td>   <%= event.curtain.nicedate %>  at <%= event.curtain.nicetime %> </td>
 <td>   <%= link_to event.user.name, user_path(event.user) %> </td>
 <td>   <%= event.user.company %> </td>
</tr>
    <% end %>
</table>
<% end %>

<% if @events.past.count != 0 %>
<table>
<h3>Past Performances:</h3>
<th>Performance</th>
<th>Theatre</th>
<th>Date/Tine</th>
<th>Producer</th>
<th>Company</th>


    <% @events.past.order(curtain: :desc).each do |event| %> 
    <tr>
 <td>   <%= link_to event.name, event_path(event) %> </td>
 <td>   <%= link_to event.venue.name, venue_path(event.venue) %> </td>
 <td>   <%= event.curtain.nicedate %>  at <%= event.curtain.nicetime %> </td>
 <td>   <%= link_to event.user.name, user_path(event.user) %> </td>
 <td>   <%= event.user.company %> </td>
</tr>
    <% end %>
</table>
<% end %>
