<h1> Show Event Page for <%= @event.name %> </h1>



<p>Producer: <%= @event.user.name %> </p>
<p>Company: <%= @event.user.company %> </p>
<p>Theatre: <%= @event.venue.name %> </p>
<p><%= @event.venue.location %> </p>
<p>Theatre: <%= @event.venue.name %> </p>
<p>Date: <%= @event.curtain.nicedate %> </p>
<p>Time: <%= @event.curtian.nicetime%> </p>


