<!DOCTYPE html>
<html>
  <head>
    <title>Impresario!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>





  </head>

  <body>



<table border="5" width="100%" 
           align="center">

<tr bgcolor="lightblue" align="center">
<td><%= link_to "Home", home_path %></td>
 <td><%= link_to "All Producers", users_path %></td>
<td><%= link_to "All Performances", events_path %></td>
<td><%= link_to "All Theatres", venues_path %></td>

<% if logged_in? %>
  <td><%= link_to "Edit Profile", edit_user_path(current_user) %> </td>
  <td><%= link_to "My Events", user_events_path(current_user) %> </td>
  <td><%= link_to "Add Event", new_user_event_path(current_user) %> </td>
   <td><%= link_to "Add Venue", new_venue_path %> </td>
  <td><%= link_to "logout", {:controller=> "sessions", :action=> "destroy"}, :method => :delete %></td>
  <% end %>

</table>

<% if logged_in? %><h5>Logged in as: <%= current_user.name %></h5><% end %>



  <center>
    <%= yield %>
    </center>
  </body>
</html>
