<!DOCTYPE html>
<html>
  <head>
    <title>Impresario!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>





  </head>

  <body>
  <p><%= link_to "Home", home_path %> </p>
  <p><%= link_to "All Producers", users_path %></p>
<p><%= link_to "All Performances", events_path %></p>
<p><%= link_to "All Theatres", venues_path %></p>

  <% if logged_in? %>
  <p>Logged in as: <%= current_user.name %></p>
  
  <p><%= link_to "Edit Profile", edit_user_path(current_user) %> </p>
  <p><%= link_to "Add Event", new_user_event_path(current_user) %> </p>
   <p><%= link_to "Add Venue", edit_venue_path(current_user) %> </p>
  <p><%= link_to "logout", {:controller=> "sessions", :action=> "destroy"}, :method => :delete %></p>

  

  <% end %>
  <center>
    <%= yield %>
    </center>
  </body>
</html>
